<packages>
<package id="7zip" />
<package id="adobereader" />
<package id="anki" />
<package id="citrix-receiver" />
<package id="dotnetfx" />
<package id="fiddler" />
<package id="gimp" />
<package id="git" />
<package id="gitextensions" />
<package id="InkScape" />
<package id="javaruntime" />
<package id="kdiff3" />
<package id="mpc-hc" />
<package id="nodejs" />
<package id="notepadplusplus" />
<package id="pycharm-community" />
<package id="python" />
<package id="rust" />
<package id="sumatrapdf" />
<package id="teamviewer" />
<package id="vcredist-all" />
<package id="vlc" />
<package id="vscode" />
</packages>
