<packages>
<package id="7zip" />
<package id="adobereader" />
<package id="audacity" />
<package id="blender" />
<package id="dotnetcore-sdk" />
<package id="dotnetfx" />
<package id="Far" />
<package id="fiddler" />
<package id="gimp" />
<package id="git" />
<package id="InkScape" />
<package id="irfanview" />
<package id="nodejs" />
<package id="notepadplusplus" />
<package id="openjdk" />
<package id="postman" />
<package id="putty" />
<package id="python" />
<package id="sumatrapdf" />
<package id="vcredist-all" />
<package id="vim" />
<package id="vlc" />
</packages>
